In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/home/adarshanand67/Documents/GitHub/Data-Science-Personal/Krish Naik/Feature Engineering/data/train.csv',usecols=['X1','X2','X3','X4','X5','X6'])
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [9]:
# print df unique count 
for i in df.columns:
    print(i,'->',len(df[i].unique()))

X1 -> 27
X2 -> 44
X3 -> 7
X4 -> 4
X5 -> 29
X6 -> 12

In [10]:
df

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [13]:
# One hot encoding
df_dummies = pd.get_dummies(df)
df_dummies.head().shape

# We are having a lot of columns now. So we need to drop the columns which are not required.

(5, 123)

In [14]:
# TOP 10 categories of X2 column
top10 = [x for x in df['X2'].value_counts().sort_values(ascending=False).head(10).index]
top10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [17]:
# Create 10 new columns for each of the top 10 categories
for i in top10:
    df[i] = df['X2'].map(lambda x: 1 if x == i else 0)

df[['X2']+top10].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

In [26]:
def oneHotEncoding(df,cols):
    top10 = [x for x in df[cols].value_counts().sort_values(ascending=False).head(10).index]    

    for i in top10:
        df[i] = df[cols].map(lambda x: 1 if x == i else 0)
    return df

df = pd.read_csv('/home/adarshanand67/Documents/GitHub/Data-Science-Personal/Krish Naik/Feature Engineering/data/train.csv',usecols=['X1','X2','X3','X4','X5','X6'])

oneHotEncoding(df,'X2')
df

     X1  X2 X3 X4  X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0     v  at  a  d   u  j   0   0   0  0   0  0  0  0  0  0
1     t  av  e  d   y  l   0   0   0  0   0  0  0  0  0  0
2     w   n  c  d   x  j   0   0   0  0   0  0  1  0  0  0
3     t   n  f  d   x  l   0   0   0  0   0  0  1  0  0  0
4     v   n  f  d   h  d   0   0   0  0   0  0  1  0  0  0
...  ..  .. .. ..  .. ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  s  as  c  d  aa  d   1   0   0  0   0  0  0  0  0  0
4205  o   t  d  d  aa  h   0   0   0  0   0  0  0  0  0  0
4206  v   r  a  d  aa  g   0   0   0  0   0  1  0  0  0  0
4207  r   e  f  d  aa  l   0   0   0  0   0  0  0  0  0  1
4208  r  ae  c  d  aa  g   0   1   0  0   0  0  0  0  0  0

[4209 rows x 16 columns]

In [ ]:
# Advantage One hot encoding ? (Most frequent categories)

# Create 10 new columns for each of the top 10 categories 
# No need for variable transformation.
# Easily select varibles for training and testing just by 0,1

# Disadvantage
# Does not add any new information.